body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 80%;
  color: black;
  margin: 0 auto;
}

h1 {
  color: rgb(27, 76, 27);
  text-align: left;
  font-size: 2rem;
}

img {
  width: 106px;
  height: auto;
}

form {
  background-color: white;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 1rem;
}

form {
  margin-top: 20px;
}