:root {
    --bg-color: #eaeaef;
    --primary-color: #2d9042;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: .5rem;
}

main {
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: left;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 20px;
}

figure {
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

section h2 {
    color: var(--primary-color);
    padding-bottom: 5px;
    border-bottom: solid 1px var(--primary-color);
}

figure {
    text-align: center;
}

figure img {
    padding: 10px;
}

@media screen and (min-width: 700px) {
    .plant-section__content {
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: space-around;
    }
}

/* form styling */
.form-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

