/* Disclaimer */
.disclaimer {
  width: 90%;
  justify-self: center;
}

/* Title and logo styling */

.site-title {
  display: flex;
  align-items: center;
}

.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
  color: white;
  text-decoration: none;
}

.site-title > svg {
  width: 50px !important;
  height: 50px !important;
}

.global-header > a {
    text-decoration: none;
    font-weight: bold;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.global-nav_toggle[aria-expanded="true"] .global-nav_toggle-closed {
  display: none;
}

.global-nav_toggle[aria-expanded="true"] .global-nav_toggle-open {
  display: flex;
}

.global-nav.show {
  max-height: 1000px;
}

  /* Top Nav */
  .top-nav-bar {
    background-color: var(--bs-black);
    display: block;
  }

  .global-header {
    display: flex;
    justify-content: space-between;
  }

  #global-nav-toggle p {
    color: var(--bs-white);
  }

  .global-header__right {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .global-header__right button {
    border: none;
    background: transparent;
    padding: .5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-left: 1px solid var(--bs-grey-5);
  }

  .icon {
    fill: currentColor;
    width: 30px;
    height: 30px;
  }

  .global-header__right .search-icon {
    padding: 0 1rem;
    margin-top: 6px;
    color: white;
    text-decoration: none;
    align-items: center;
  }

  .global-nav {
    background-color: var(--bs-black);
    color: white;
    margin-top: -20px;
    padding: 10px;
  }

  .global-nav button {
    background-color: transparent;
  }

  .global-nav a {
    text-decoration: none;
    color: white;
  }

  .global-nav svg {
    --icon-color: white;
    height: 20px;
    width: 20px;
  }

  .global-nav__section-heading {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem 0.625rem;
    font-size: 1.25rem;
  }
  .section-heading--green {
    color: var(--bs-light-green);
  }
  .section-heading--blue {
    color: var(--bs-chathams-blue-3);
  }
  
  .global-nav_toggle--closed {
    color: white;
    display: flex;
    align-items: center;
  }

  .global-nav_toggle--open {
    display: none;
    align-items: center;
  }

  .global-nav__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    justify-content: space-between;
  }

  .global-nav__list li {
    margin-bottom: 16px;
    width: 100%;
  }

  .global-nav__split-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: var(--bs-gray-800);
  }

  .icon {
    transition: transform 0.5s ease-in-out
  }

  .rotate {
    transform: rotate(180deg);
  }

  .global-nav__split-button:hover,
  .global-nav__submenu a:hover {
    background-color: var(--bs-gray-900);
  }
  .global-nav__submenu a:hover {
    text-decoration: underline
  }

  .global-nav__submenu {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0.75rem;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
  }
  
  .show-submenu{
    max-height: 500px;
  }

  @media (min-width: 525px) {
    .global-nav__section-heading {
      display: none;
    }

    .global-nav__list {
      flex-direction: row;
      padding-right: 40px;
    }

    .global-nav__split-button {
      background-color: var(--bs-black);
      flex-direction: column;
      margin-top: 20px;
    }

    .global-nav__submenu {
      position: static;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      max-height: fit-content;
      padding-left: 0;
      margin-top: 0.75rem;
    }

    .global-nav__split-button__toggle {
      display: none;
    }
  }

  .global-header .icon {
    width: 20px;
    height: 20px;
  }

  .search-icon > svg {
    margin-top: 4px;
    margin-right: 8px;
  }

  #global-nav-toggle > svg {
    align-self: center;
    /* border: none; */
    border: 1px solid var(--bs-black);
    border-radius: 5px;

  }

  #global-nav-toggle > p {
    color: white;
  }
