/* Hero */

  /* Hero Picture */
  .hero-banner {
  display: grid;
  grid-template-columns: 1fr;
}
.hero-banner > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  grid-column: 1/2;
  grid-row: 1/3;
}

.hero-banner-content {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em 1em;
}

.hero-banner-title {
  font-size: 1.8em;
  font-weight: bold;
  color: white !important;
  text-decoration: none;
}

.hero-banner-text {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

  /* Hero Links */
  .bottom-nav > ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: var(--bs-black);
  font-size: 0.8rem;
  margin-top: -4px;
}
.bottom-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.8em 2em;
  color: white;
  text-decoration: none;
}
.bottom-nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.bottom-nav svg {
  width: 24px;
  height: 24px;
}


/* Body */
.intro {
  width: 80%;
  margin: 0 auto;
  max-width: 400px;
}

/* Media Cards */

.Component-MediaGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  align-items: center;
  margin: 0 auto;
  margin-top: 1rem;
}

.row {
  flex-direction: column;
  width: 80%;
}

.media-card {
  width: 80%;
  height: auto;
}

.media-link,
.media-link .mediacard-title {
  color: black;
  text-decoration: none;
}

.media-link:hover .mediacard-title h3 {
  color: var(--bs-crete) !important;
}

.mediacard-imageContainer {
  max-width: 400px;
  margin: 0 auto;
}

.mediacard-title {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .Component-MediaGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 80%;
    max-width: 900px;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    grid-auto-rows: 1fr;
    align-items: stretch;
  }
  
  .intro {
    max-width: 900px;
  }

  #park-footer {
    padding: 3rem 2rem;
    text-align: left;
  }

  #park-footer .contact {
    max-width: 900px;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}